<html>
    <head>
        <title>Stratus</title>
        
        <link rel="stylesheet" type="text/css" href="static/style.css"></link>

        <script type="text/javascript" src="static/scripts/require.js" data-main="static/scripts/main.js"></script>
    </head>
    <body>
        <script type="text/template" id="event">
            <li>
                <h3><%- title %></h3>
                <p><%- description  %></p>
            </li>
        </script>
        <script type="text/template" id="event-creation">
            <form id="item-creation">
                <input type="text" class="event-title" placeholder="Event Title..."></input><br />
                <textarea class="event-description" placeholder="Event description goes here..."></textarea><br />
                <input type="button" class="create-event" value="Create Event"></input>
            </form>
        </script>
    </body>
</html>
