<html>
    <head>
        <title>donelist</title>
        
        <link rel="stylesheet" type="text/css" href="static/style.css"></link>

        <script type="text/javascript" src="static/lib/json2.js"></script>
        <script type="text/javascript" src="static/lib/jquery.min.js"></script>
        <script type="text/javascript" src="static/lib/underscore.min.js"></script>
        <script type="text/javascript" src="static/lib/backbone.min.js"></script>
        <script type="text/javascript" src="static/models.js"></script>
        <script type="text/javascript" src="static/views.js"></script>
        <script type="text/javascript" src="static/client_app.js"></script>
    </head>
    <body>
        <script type="text/template" id="list-item">
            <li>
                <h3><%- name %></h3>
                <p><%- details %></p>
            </li>
        </script>
        <script type="text/template" id="item-creation">
            <form class="item-creation">
                <input type="text" class="event-name" placeholder="Event Name..."></input>
                <textarea class="event-details" placeholder="Event details go here..."></textarea>
                <input type="button" class="create-event" value="Create Event"></input>
            </form>
        </script>
        <script type="text/javascript">
            $(document).ready(function() {
                window.initialize_app();
            });
        </script>
    </body>
</html>
