<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stratus</title>
        
        <!--<link rel="stylesheet" type="text/css" href="static/style.css"></link>-->
        <link rel="stylesheet" type="text/css" href="static/bootstrap.css" media="screen"></link>

        <script type="text/javascript" src="static/scripts/require.js" data-main="static/scripts/main.js"></script>
    </head>
    <body>
        <script type="text/template" id="event">
            <li class='event-item'>
                <h3><%- title %></h3>
                <h4><%- date %></h4>
                <p><%- description  %></p>
            </li>
        </script>
        <script type="text/template" id="no-event">
            <p>No events have been reported</p>
        </script>
        <script type="text/template" id="event-creation">
            <form id="item-creation">
                <input type="text" class="event-title" placeholder="Event Title..."></input>
                <textarea class="event-description" placeholder="Event description goes here..."></textarea>
                <input type="button" class="create-event" value="Create Event"></input>
            </form>
        </script>
        <div id="container">
        </div>
    </body>
</html>
