<html>
    <head>
        <title>donelist</title>
        <script type="text/javascript" src="static/json2.js"></script>
        <script type="text/javascript" src="static/jquery.min.js"></script>
        <script type="text/javascript" src="static/underscore.min.js"></script>
        <script type="text/javascript" src="static/backbone.min.js"></script>
        <script type="text/javascript" src="static/client_app.js"></script>
    </head>
    <body>
    </body>
</html>
