textarea.event-description,
input.event-title {
    display: block;
    width: 400px;
}

div.container {
    margin-top: 60px;
}

textarea.event-description {
    height: 75px;
}

ul.event-list {
    padding-left: 0px;
    margin-left:0px;
}

ul.event-list {
    list-style-type: none;
}

li.event-item {
    border-bottom: 1px solid black;
}
